<div class="container">
    <div class="card">
        <p>Full URL: {{urlStats.long}}</p>
        <p>Shortcode: {{urlStats.short}}</p>
        <p>Count: {{urlStats.count}}</p>
        <p>Registered: {{urlStats.createdAt}}</p>
        <p>Last Accessed: {{urlStats.updatedAt}}</p>
    </div>
</div>